html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightseagreen;
}

* {
  font-family: 'Fuzzy Bubbles', cursive;
  font-weight: 400;
  color: white;
}

ul {
  list-style: none;
}

.main-heading {
  margin: 30px;
  text-align: center;
  color: #7232a8;
  font-size: 40px;
  font-weight: bolder;
}

#quote,
#author {
  font-style: italic;
}

#quote {
  text-align: center;
  font-size: 30px;
  color: black;
}

#author {
  font-size: 23px;
  text-align: center;
}

.sections-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

/* Leaderboard */
.leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaders-container {
  margin-top: 10px;
}

.leader {
  width: 30rem;
  display: table;
  font-size: 20px;
  align-items: center;
  border-radius: 5px;
  color: white;
}

span {
  display: table-cell;
  width: 5px;
}

.leader:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.4);
}

.leader:nth-child(even) {
  background-color: #e15873;
}

/* Input section */
.input-section,
.leader-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  align-self: center;
}

.leader-form input {
  color: black;
  width: 20rem;
  height: 2rem;
}

button {
  align-self: flex-end;
  color: white;
  background-color: #a83297;
  border: 1px solid black;
  padding: 6px 15px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.leaders-heading,
.add-heading {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .sections-container {
    flex-direction: column;
  }

  .leader {
    width: 90vw;
  }

  .input-section {
    margin-bottom: 100px;
    margin-top: 40px;
  }

  .leader-form input {
    width: 80vw;
  }
}

@media only screen and (max-width: 280px) {
  h1,
  h2,
  h3,
  h4,
  li {
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
  }
}
