html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.main-heading {
  margin: 30px;
}

.sections-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

/* Leaderboard */
.leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaders-container {
  border: 2px solid black;
  margin-top: 10px;
}

.leader-0,
.leader-1 {
  width: 30rem;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.leader-0 {
  background-color: lightgray;
}

/* Input section */
.input-section,
.leader-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.leader-form input {
  width: 20rem;
  height: 2rem;
}

button {
  align-self: flex-end;
  background-color: white;
  border: 1px solid black;
  padding: 1px 5px;
  box-shadow: 2px 5px;
  cursor: pointer;
}

.leaders-heading,
.add-heading {
  font-size: 30px;
}
