html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightseagreen;
}

* {
  color: white;
}

ul {
  list-style: none;
}

.main-heading {
  margin: 30px;
  text-align: center;
  color: #7232a8;
  font-size: 40px;
}

#quote {
  text-align: center;
  font-size: 30px;
  color: #a88c11;
}

.sections-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

/* Leaderboard */
.leaders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaders-container {
  margin-top: 10px;
}

.leader {
  width: 30rem;
  display: flex;
  font-size: 20px;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.leader:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.4);
}

.leader:nth-child(even) {
  background-color: #e15873;
}

/* Input section */
.input-section,
.leader-form,
.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  align-self: center;
}

.leader-form input,
.game-form input {
  color: black;
  width: 20rem;
  height: 2rem;
}

button {
  align-self: flex-end;
  color: white;
  background-color: #a83297;
  border: 1px solid black;
  padding: 6px 15px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.leaders-heading,
.add-heading {
  font-size: 30px;
}
